<template>
  <img v-if="isDestroyedFactory1 && isDestroyedFactory2 && isDestroyedFactory3" src="../assets/fleur.png" class="usine1"
    ref="usine1" alt="Une fleur est apparue !">
  <img v-else-if="isDestroyedFactory1 && !(isDestroyedFactory2 && isDestroyedFactory3)" src="../assets/usine-detruite.png"
    class="usine1" ref="usine1" alt="Vous avez détruit une usine !">
  <img v-else @click="isDestroyedFactory1 = true" src="../assets/usine.png" class="usine1" ref="usine1"
    alt="Vous avez trouvé une usine !">
  <img v-if="isDestroyedFactory1 && isDestroyedFactory2 && isDestroyedFactory3" src="../assets/fleur.png" class="usine2"
    ref="usine2" alt="Une fleur est apparue !">
  <img v-else-if="isDestroyedFactory2 && !(isDestroyedFactory1 && isDestroyedFactory3)" src="../assets/usine-detruite.png"
    class="usine2" ref="usine2" alt="Vous avez détruit une usine !">
  <img v-else @click="isDestroyedFactory2 = true" src="../assets/usine.png" class="usine2" ref="usine2"
    alt="Vous avez trouvé une usine !">
  <img v-if="isDestroyedFactory1 && isDestroyedFactory2 && isDestroyedFactory3" src="../assets/charlie.png" class="usine3"
    ref="usine3" alt="Une fleur est apparue !">
  <img v-else-if="isDestroyedFactory3 && !(isDestroyedFactory2 && isDestroyedFactory1)" src="../assets/usine-detruite.png"
    class="usine3" ref="usine3" alt="Vous avez détruit une usine !">
  <img v-else @click="isDestroyedFactory3 = true" src="../assets/usine.png" class="usine3" ref="usine3"
    alt="Vous avez trouvé une usine !">
  <v-container  class="jeu pa-5">
      <v-row>
        <v-col cols="4"></v-col>
        <v-col cols="4">
          <v-card class="carte" v-if="isGameFinished">
            <v-card-title>Bien joué vous avez fini le jeu !</v-card-title>
            <v-card-subtitle>Votre score est de {{ score }} sur 100</v-card-subtitle>
            <v-card-text>Pour rejouer, rechargez la page</v-card-text>
          </v-card>
          <carte-choix v-else @CLICK_TRUE="evaluateAnswer(true)" @CLICK_FALSE="evaluateAnswer(false)" class="carte" :question="questionActuelle" ></carte-choix>
        </v-col>
      </v-row>
    </v-container>

</template>

<script>
import CarteChoix from "@/components/carte-choix.vue";
import {mapActions, mapGetters} from "vuex";

function deepClone(obj) {
  return JSON.parse(JSON.stringify(obj));
}

export default {
  name: "CarteChoixWrapper", // Changed the name to avoid confusion
  components: { CarteChoix },
  data() {
    return {
      questionsRestantes: [], // This might not be necessary, depends on the use case
      questionActuelle: {},
      loaded: false,
      isDestroyedFactory1: false,
      isDestroyedFactory2: false,
      isDestroyedFactory3: false,
    };
  },
  computed: {
    ...mapGetters({
      score: "score/getScore",
      questions: "question/getQuestions",
      categories: "categories/getCategories"
    }),
    isGameFinished() {
      return this.questionsRestantes.length < 1
    }

  },
  methods: {
    ...mapActions({
      ajouterScore: "score/ajouterScore",
      retirerScore: "score/retirerScore"
    }),
    evaluateAnswer(answer) {
      if (answer === this.questionActuelle.est_Vrai) {
        this.ajouterScore(10)
        this.reroll()
      } else {
        this.retirerScore(10)
        this.reroll()
      }
    },
    reroll() {
      const index = this.questionsRestantes.indexOf(this.questionActuelle);
      if (index > -1) {
        this.questionsRestantes.splice(index, 1);
      }
      this.questionActuelle = this.chooseRandom();
    },
    chooseRandom() {
      return this.questionsRestantes[Math.floor(Math.random() * this.questionsRestantes.length)];
    }
  },
  created() {
    this.questionsRestantes = deepClone(this.questions);
    this.questionActuelle = this.questionsRestantes[Math.floor(Math.random() * this.questionsRestantes.length)];
    this.loaded = true;
  }
};
</script>

<style>
.carte {
  margin-top: 20vh;
}

.background-image {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-attachment: fixed;
}

.usine1 {
  position: fixed;
  z-index: 1;
  top: 71%;
  left: 31%;
  width: auto;
  height: 8%;
  transform: rotateZ(-10deg);
}

.usine2 {
  position: absolute;
  z-index: 1;
  top: 13.5%;
  left: 61%;
  width: auto;
  height: 3%;
}

.usine3 {
  position: fixed;
  z-index: 1;
  top: 95%;
  left: -1%;
  width: auto;
  height: 7%;
  transform: rotateZ(25deg);
}</style>
