<template>
  <v-card :color="question.couleurCarte" rounded="9" variant="elevated">
    <div v-if="showDetails">
      <v-container>
        <v-row justify="start" class="pa-2">
          <v-card rounded density="compact" variant="elevated">
            <v-card-title variant="elevated" :color="question.couleurCarte" rounded>{{ question.categorie }}</v-card-title>
          </v-card>
        </v-row>
        <h1> En savoir plus sur moi </h1>
        <p>{{question.lien}}</p>
      </v-container>
      <v-container>
        <v-btn variant="outlined" @click="showDetails = false">Retour</v-btn>
      </v-container>
    </div>
    <div v-else>
      <v-container class="pa-2">
        <v-row justify="start" class="pa-2">
          <v-card rounded density="compact" variant="elevated">
            <v-card-title variant="elevated" :color="question.couleurCarte" rounded>{{ question.categorie }}</v-card-title>
          </v-card>
        </v-row>
        <v-row>
          <v-img :src="question.image" height="35vh"></v-img>
        </v-row>
      </v-container>
      <v-card-title>{{question.titre}}</v-card-title>
      <v-container>
        <v-card variant="flat" elevation="4" :color="question.couleurtexte">
          <v-card-text >{{question.texte}}</v-card-text>
        </v-card>
      </v-container>
      <v-card-actions>
        <v-container>
          <v-row justify="space-evenly">
            <v-btn variant="elevated" icon="mdi-window-close" size="x-large" color="red"   @click="$emit('CLICK_FALSE')"></v-btn>
            <v-btn variant="elevated" icon="mdi-heart"        size="x-large" color="green" @click="$emit('CLICK_TRUE')"></v-btn>
          </v-row>
          <v-row justify="space-evenly">
            <v-container>
              <v-btn variant="outlined" @click="showDetails = true">En savoir plus sur moi !</v-btn>
            </v-container>
          </v-row>
        </v-container>
      </v-card-actions>
    </div>
  </v-card>
</template>

<script>
import {mapGetters} from "vuex";


export default {
  name: "carte-choix",
  components: {},
  data () {
    return {
      showDetails: false,
    }
  },
  props: {
    color: {
      type: String,
      default: "white"
    },
    question: {
      type: Object,
      default: {}
    },

  },
  computed: {
    ...mapGetters({
      questions: "question/getQuestions"
    }),

  },
};

</script>